body {
  max-width: 600px;
  text-align: justify;
  margin: 0 auto;
  margin-top: 0.5em;
}

div#footer {
  text-align: center;
}

a {
  color: black;
}

div#footer a, div#navigation > a {
  font-variant: small-caps;
  text-decoration: none;
}

div#logo, .right {
  margin-left: 20px;
  float: right;
}

h1, h2, h3, h4 {
  text-align: left;
}
