body {
    max-width: 600px;
    text-align: justify;
}

a {
  color: black;
}

div#footer a, div#navigation > a {
  font-variant: small-caps;
  text-decoration: none;
}

div#logo, .right {
  margin-left: 20px;
  float: right;
}
