<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>life, universe and everything → $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="icon" type="image/png" href="/favicon.ico" />
    </head>
    <body>
        <div id="everything">
            <div id="header">
                <div id="logo">
                    <a href="/"><img src="/images/memoricide.png" alt="memorici·de" /></a>
                </div>
                <div id="navigation">
                    <a href="/">/</a>
                    <a href="/life.html">Life</a>
                    · <a href="/universe.html">Universe</a>
                    · <a href="/archive.html">Everything</a>
                    | <a href="/ru.html">In Russian</a>
                    | <a href="/me.html">Me</a>
                </div>
            </div>

            <div id="content">
                <h1>$title$</h1>

                $body$
            </div>
            <div id="footer">
                <div><small>Subscribe ∵ <a href="/atom.xml">Everything</a> · <a href="/universe.xml">Technical posts</a> · <a href="/life.xml">Life</a> · <a href="/ru.xml">Posts in other languages</a> ∴ ♥</small></div>
                <a href="http://jaspervdj.be/hakyll">
                    <img src="/images/haskell.png" style="height: 18px;" />
                </a>
            </div>
        </div>
    </body>
</html>
