$if(universe)$
  <ul>
      $for(universe)$
          <li>
              <a href="$url$">$title$</a> - $date$
          </li>
      $endfor$
  </ul>
$endif$
$if(life)$
  <ul>
  $for(life)$
      <li>
          <a href="$url$">$title$</a> - $date$
      </li>
  $endfor$
  </ul>
$endif$
$if(ru)$
  <ul>
  $for(ru)$
      <li>
          <a href="$url$">$title$</a> - $date$
      </li>
  $endfor$
  </ul>
$endif$
$if(drafts)$
  <ul>
  $for(drafts)$
      <li>
          <a href="$url$">$title$</a> - $date$
      </li>
  $endfor$
  </ul>
$endif$
